body {
    border: 1px solid black;
    width: 640px;
    height: 480px;
}

.head {
    position: absolute;
    background: black;
    width: 32px;
    height: 32px;
}

.body {
    position: absolute;
    background: black;
    width: 30px;
    height: 30px;
}

.apple {
    position: absolute;
    background: red;
    width: 30px;
    height: 30px;
}